.titulo{
    background-color: #196844;
}
.p{
    color: white;
}
.basic-container {
    padding: 30px;
  }
  
  .version-info {
    font-size: 8pt;
    float: right;
  }
  .button{
    margin: 2px;
    border-radius: 6px;
}

.zmdi-camera:before {
  margin-left: 10px !important;
}

.imagen_noticia
{
  max-width: 80% !important;
  max-height: 20% !important;
}