<div class="flex-center position-ref full-height">
  <div class="wrapper fadeInDown">
    <div id="formContent">
    <div class="fadeIn first">
      <img src="assets/img/jaime_isaza_cadavid.png" id="icon" alt="User Icon" />
      <div class="alert alert-success">Recordar Contraseña</div>
      <p>Por favor ingrese su email</p>
      <form [formGroup]="forgotPasswordForm">
        <input type="email" id="login" class="fadeIn second" formControlName="email" placeholder="Email">
        <input type="submit" class="fadeIn fourth" (click)="forgot()  " value="Enviar">
      </form>
      <a class="btn btn-google" [routerLink]="['/login']">Login</a>
      <div *ngIf="mensaje" class="alert alert-success">{{ mensaje }} </div>
    </div>
  </div>
  </div>
</div>