<div class="content__inner " style="width: 100%" *ngIf="!nuevo">
  <nav class="navbar navbar-expand-lg titulo">
    <h2 class="p">Aplicaciones</h2>
  </nav>

  <div class="card">
    <div class="card-body">
      <button type="button" class="btn btn-success button" (click)='nuevaApp()'>Nueva App</button>
      <table class="table mb-0">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>URL</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let aplicacion of aplicaciones">
            <td>{{ aplicacion.nombre}}</td>
            <td>{{ aplicacion.descripcion}}</td>
            <td>{{ aplicacion.url}}</td>
            <td>
              <button type="button" class="btn btn-success button" (click)='editar(aplicacion.id)'>Actualizar</button>
              <button type="button" class="btn btn-success button" (click)='delete(aplicacion.id)'>Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="content__inner " style="width: 100%" *ngIf="nuevo">
  <nav class="navbar navbar-expand-lg titulo">
    <h2 class="p">Formulario Aplicación</h2>
  </nav>
  <div class="card new-contact">
    <form [formGroup]="aplicacionForm">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Nombre</label>
              <input type="text" class="form-control" formControlName="nombre">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Descripción</label>
              <textarea class="form-control" formControlName="descripcion" cols="100" rows="5"></textarea>
            </div>
            <i class="form-group__bar"></i>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>URL</label>
              <input type="text" class="form-control" formControlName="url">
            </div>
            <i class="form-group__bar"></i>
          </div>
        </div>
      </div>
      <div>
        <button class="btn btn-success button" (click)="cancelar()">Cancelar</button>
        <button *ngIf="!update" class="btn btn-success button" (click)="setApp()">Guardar</button>
        <button *ngIf="update" class="btn btn-success button" (click)="sendUpdateApp(aplicacion.id)">Guardar</button>
      </div>
      <div *ngIf="mensaje" class="alert alert-success">{{ mensaje }} </div>
    </form>
  </div>
</div>